<!DOCTYPE html>
<html>
<head>
  {% load static %}

  <meta charset="utf-8">
  <title>{% block title %}Example Dashboard{% endblock %}</title>
  <link rel="icon" href="/static/main/images/logo_small.png">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


  <script   src="https://code.jquery.com/jquery-3.6.0.min.js"   integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="   crossorigin="anonymous"></script>
  <script src="/static/main/script.js"></script>

  <link rel="stylesheet" href="{% static 'main/css/style.css' %}">

</head>
<body>
  <main>

    {% block content %}
    {% endblock %}
  </main>
  <footer>
    <h4>This is a CodeWill Example Dashboard</h4>
    <a href="http://www.codewill.io">
      <img src="/static/main/images/logo_large.png" alt="CodeWill Logo" style="width:40%">
    </a>
  </footer>
</body>
</html>
