{% extends 'main/base.html' %}

{% block content %}

<h1>Examply Dashboard</h1>
{%load plotly_dash%}

{% plotly_app name="Example_Home" ratio=1 %}

<div class="data_source">
  <h2>Data for this dashboard comes from <a href="https://docs.google.com/spreadsheets/d/1tsUvF9SivvZotsA_xEmUvgxqnHJFI1M26TuRAGT45-U/edit?usp=sharing">this Google spreadsheet</a>.</h2>
  <p>However production data sources can also include:</p>
  <ul>
    <li>Facebook Marketing API</li>
    <li>Google Analytics</li>
    <li>Google Ads</li>
    <li>Custom APIs</li>
  </ul>
</div>
{% endblock %}
